* {
    margin: 0;
    padding: 0;
}

.big-container{
    position: fixed;
    top: 20%;
    left: 10%;
}

.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.container-1 h1 {
    font-family: 'Big Shoulders Display', cursive;
    padding:0px;
    margin:10px;
    color: white;
}

.container-2 h1 {
    font-family: 'Big Shoulders Display', cursive;
    padding:0px;
    margin:10px;
    color: white;
}

.container-3 h1 {
    font-family: 'Big Shoulders Display', cursive;
    padding:0px;
    margin:10px;
    color: white;
}

.container-1 p{
    text-align: justify;
    font-family: 'Lexend Deca', sans-serif;
    padding:0px;
    margin:10px;
    color: white;
}

.container-2 p{
    text-align: justify;
    font-family: 'Lexend Deca', sans-serif;
    padding:0px;
    margin:10px;
    color: white;
}

.container-3 p{
    text-align: justify;
    font-family: 'Lexend Deca', sans-serif;
    padding:0px;
    margin:10px;
    color: white;
}


.container-1{
    background-color: hsl(31, 77%, 52%);
    border-radius: 3px;
    padding: 80px 50px;
}

.container-2{
    background-color: hsl(184, 100%, 22%);
    border-radius: 0px;
    padding: 80px 50px;
}

.container-3{
    background-color: hsl(179, 100%, 13%);
    border-radius: 3px;
    padding: 80px 50px;
}

.button {
    background-color: white;
    font-family: 'Lexend Deca', sans-serif;
    border-radius: 30px;
    color: black;
    padding: 11px 29px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}